.resultCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 550px;
  max-width: 550px;
  min-height: 195px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 0px 4px 7px -2px rgba(0, 0, 0, 0.4);
  transition: all .25s ease-in-out;
  -webkit-animation: bounce .4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: bounce .5s; /* Firefox < 16 */
        -ms-animation: bounce .5s; /* Internet Explorer */
         -o-animation: bounce .5s; /* Opera < 12.1 */
            animation: bounce .4s;
}

@keyframes bounce {
  0% {
    transform: scale(1) 
  }
  50% {
    transform: scale(.7) 
  }
  100% {
    transform: scale(1) 
  }
}

.resultCard:hover {
  transform: scale(1.05); 
  box-shadow: 0px 8px 7px -2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#resultCardBody {
  display: flex;
  flex-direction: row;
  width: 90%;
  min-width: 500px;
  min-height: 150px;
  overflow: hidden;
}

#resultCardImage {
  width: 175px;
  height: 150px;
}

#resultCardContent {
  display: flex;
  flex-direction: column;
  width: 65%;
  min-width: 300px;
  height: 150px;
  margin-left: 25px;
}

#gymName {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6rem;
}

#gymReviews {
  font-size: .75rem;
}

#membersAndDistance {
  display: flex;
  font-weight: bold;
  font-size: .70rem;
  flex-grow: 1;
  margin-top: 1%;
}

#members {
  margin-right: 6%;
}

.sportTagButton {
  background-color: white;
  color: black;
  border: 1px solid lightgrey;
  font-size: .65rem;
  font-weight: bold;
}

#gymSports {
  display: flex;
  justify-content: space-between;
}

#emptyCard {
  border: 1px solid lightgray;
  -webkit-animation: fadeinout 2s linear infinite forwards;
  animation: fadeinout 2s linear infinite forwards;
  opacity: 0;
}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

#gymCardNavLink {
  color: black;
}

#gymCardNavLink:hover {
  text-decoration: none;
}


