#chooseGymsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 1px solid lightgray;

}


.chooseGymsButton {
  font-weight: bold;
  letter-spacing: 1px;
  width: 120px;
  height: 40px;
  background-color: #357eb4;
  border: none;
  border-radius: 5px;
}
#chooseGymsHeader {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  width: 75%;
}

#chooseGymsButtons {
  width: 45%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 1%;
}

#chooseGymsBody {
  width: 75%;
  margin-top: 30px;
  -webkit-animation: bouncein .6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: bouncein .5s; /* Firefox < 16 */
        -ms-animation: bouncein .5s; /* Internet Explorer */
         -o-animation: bouncein .5s; /* Opera < 12.1 */
            animation: bouncein .6s;
}

@keyframes bouncein {
  0% {
    transform: scale(.9) 
  }
  50% {
    transform: scale(0.6) 
  }
  100% {
    transform: scale(1) 
  }
}